.Stylesheet_trendingimg {
  /* width: 177px;
    height: 177px; */
  /* width: 30%;
  height: 30%; */
  transition: transform 0.1s;
  cursor: pointer;
}
.Stylesheet_trendingimg:hover {
  transform: scale(1.1);
}

.Component {
  background-image: url(../public/Assets/blue.png);
  background-size: 100px;
}
